<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <h1>Formulario de carga</h1>
    <form onsubmit="return enviar()" id="cargaProducto">
      <label for="Nombre">Ingrese nombre del producto
          <input class="input" id="nombre" type="text" name="nombre" value="" placeholder="Nombre" required/>
      </label>
      <br/>
      <label for="Duracion">Ingrese la duracion del producto
        <input class="input" id="duracion" type="text" name="duracion" value="" placeholder="Duracion" required/>
      </label>
      <br/>
      <label for="Frecuencia">Ingrese la frecuencia del producto
        <input class="input" id="frecuencia" type="text" name="frecuencia" value="" placeholder="Frecuencia" required/>
      </label>
      <br/>
      <label for="Precio">Ingrese el precio del producto
          <input class="input" id="precio" type="number" name="precio" value="" placeholder="Preico" required/>
      </label>
      <br/>
      <label for="Thumbnail">Ingrese link de la imagen del producto
        <input class="input" id="thumbnail type="text" name="thumbnail" value="" placeholder="Link de imagen" required/>
      </label>
      <br/>
      <button type="button" onclick="agregarProducto(cargaProducto)">Agregar</button>
    </form>
        <!-- <form action="/form" id="cargaProducto">
            <p>Nombre</p>
            <input type="text" id="nombre" name="title" value="" placeholder="Nombre" required/>
            <p>Precio</p>
            <input type="text" id="precio" name="price" value="" placeholder="Precio" required/>
            <p>Imagen</p>
            <input type="text" id="thumbnail" name="thumbnail" placeholder="Link de imagen" required/>
            <button type="button" onclick="agregarProducto(cargaProducto)">Agregar</button>
        </form> -->
    <br/>
    <br/>
    <br/>

    <h2><%=title %></h2>
    <div id="listaProductos"></div>

    <br/>
    <br/>
    <br/>

    <div class="chat-container">
      <form onsubmit="return enviar()" id="formularioChat">
          <label for="correo">Ingrese su correo electronico
              <input class="input" id="correo" type="email" name="correo" value="" placeholder="correo" required/>
          </label>
          <label for="msg">Ingrese su mensaje
              <input class="input" id="mensaje" type="text" name="msg" value="" placeholder="Mensaje" required/>
          </label>
          <button type="button" onclick="enviarMensaje(formularioChat)">Enviar mensaje</button>
      </form>
      <br/>
      <br/> 
        
      <table id="chats">

      </table>
  </div>

    <!-- <a href="http://localhost:8080/products" class="btn">Volver a la lista de productos</a> -->
    <br/>
    <br/>
    <br/>
    <%- include('../partials/footer'); %>
    <br/>
  </body>
</html>
