<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <br/>
    <br/>
    <br/>
    <h1>No existe el producto</h1>
    <br/>
    <br/>
    <%- include('../partials/footer'); %>
    <br/>
  </body>
</html> 